services:
  bank_simulator:
    container_name: bank_simulator
    image: bbyars/mountebank:2.8.1
    ports:
      - "2525:2525"
      - "8080:8080"
    command: --configfile /imposters/bank_simulator.ejs --allowInjection
    volumes:
      - type: bind
        source: ./imposters
        target: /imposters
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:8080/health"]
      interval: 5s
      timeout: 2s
      retries: 5

  api:
    container_name: api
    build:
      context: .
      dockerfile: Dockerfile.api
    environment:
      BANK_SIMULATOR_URL: http://bank_simulator:8080
    ports:
      - "8090:8090"
    depends_on:
      bank_simulator:
        condition: service_healthy

  swagger-gen-docs:
    image: ghcr.io/swaggo/swag:latest
    profiles: ["docs"]
    working_dir: /code
    volumes:
      - .:/code
    command: init -g cmd/api/main.go
